/* ------------------------------------------------

  - Fonts
  - General Styles
  - Scroll Bar
  - Typography
  - Buttons
  - Header
  - Footer
  - Category Video
  - Single Video

  - 404
  - Others  
  
------------------------------------------------ */

@font-face {
  font-family: "Circular";
  /* src: local(Circular), url(../fonts/CircularStd-Light.otf); */
  src: local(Circular), url(../fonts/CircularSpotifyTxT-Light.woff);
}

@font-face {
  font-family: "Circular";
  /* src: local(Circular), url(../fonts/CircularStd-Medium.otf); */
  src: local(Circular), url(../fonts/CircularSpotifyTxT-Med.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Circular";
  /* src: local(Circular), url(../fonts/CircularStd-Bold.otf); */
  src: local(Circular), url(../fonts/CircularSpotifyTxT-Bold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Circular";
  /* src: local(Circular), url(../fonts/CircularStd-Black.otf); */
  src: local(Circular), url(../fonts/CircularSpotifyTxT-Black.woff);
  font-weight: 800;
}

/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 4rem;
}

body,
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Circular";
  font-size: 16px;
  font-weight: 400;
  background-color: #000000;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

iframe {
  width: 100%;
  height: 100%;
}

/* -----------------------------------------------------------------
    - Scroll Bar
----------------------------------------------------------------- */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #000000e6;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff0000;

  border-radius: 3px;

  /* border: 2px solid #fffdfd; */
}

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Circular";
  font-weight: 600;
  line-height: 1.15;
}

p {
  font-family: "Circular";
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0.063rem;
  line-height: 2rem;
}

.title-h1 {
  font-size: 6rem;
}

.title-h2 {
  font-size: 2.5rem;
  color: #ff0000;
}

.title-h3 {
  font-size: 1.875rem;
  color: #ffffff;
  margin: 0;
}

/* -----------------------------------------------------------------
    - Buttons
----------------------------------------------------------------- */
.btn-primary {
  background-color: #ff0000;
  border-radius: 3px;
  padding: 20px 80px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #ec0404;
}

.span-full {
  background-color: #ffffff;
  padding: 4px 32px;
  /* border: 1px solid #ffffff; */
  border-radius: 3px;
  color: #5a5a5a;
}

.span-empty {
  padding: 4px 32px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

/* -----------------------------------------------------------------
    - Header
----------------------------------------------------------------- */
.header {
  background-color: #000000e6;
  width: 100%;
  height: 92px;
  padding: 0 140px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-menu-principal li {
  margin: 0 20px;
  padding: 0;
  letter-spacing: 0.57px;
  transition: 0.3s;
}

#menu-menu-principal li a {
  color: #ffffff;
  transition: 0.3s;
}

#menu-menu-principal li a:hover {
  color: #ff0000;
}

.logotype {
  width: 104px;
  height: 33px;
}

/* -----------------------------------------------------------------
    - Footer
----------------------------------------------------------------- */

.footer {
  background-color: #121212;
  height: 385px;
  padding: 0 140px;
  display: flex;
  align-items: center;
}

.info-footer {
  /* max-width: 1920px; */
}

.info-footer p {
  font-family: "Circular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.54px;
  color: #ffffff;
}

/* -----------------------------------------------------------------
    - Home
----------------------------------------------------------------- */
.hero {
  height: 1000px;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 140px;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 800px;
}

.hero-content h1 {
  margin: 20px 0px 40px 0px;
  color: #ffffff;
}

.videos {
  padding: 40px 0 100px 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
}

.videos-movies,
.videos-docs {
  margin-bottom: 40px;
}

.carrossel {
  display: flex;
}

.card-video {
  width: 248px !important;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card-video-image {
  margin-bottom: 24px;
  width: 248px;
  height: 387px;
  object-fit: cover;
}

.card-video h3 {
  margin-top: 16px;
}

.empty-videos {
  color: #fff;
  font-size: 1.5rem;
  font-size: 600;
}

/* -----------------------------------------------------------------
    - Category Video
----------------------------------------------------------------- */
.category-content {
  padding: 140px;
  display: flex;
  flex-wrap: no-wrap;
}

.left {
  width: 30%;
  /* background-color: red; */
}

.left h2 {
  margin-top: 0;
}

.left p {
  color: #fff !important;
}

/* .sticky {
  position: fixed;
  top: 0;
} */

.right {
  width: 70%;
  padding-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: aqua; */
}

.card-video-category {
  margin: 0 0 40px 0 !important;
}

/* -----------------------------------------------------------------
    - Single Video
----------------------------------------------------------------- */
.video-info {
  padding: 200px 140px 80px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-info-content {
  width: 1000px;
}

.video-info-content h1 {
  color: #ffffff;
  margin: 20px 0;
}

.video-trailler {
  padding: 40px;
  height: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .video-trailler-content {
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.video-description {
  padding: 40px 140px 80px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-description-content {
  width: 1000px;
}

.video-description-content p {
  color: #ffffff;
}

/* -----------------------------------------------------------------
    - Single Video
----------------------------------------------------------------- */
.hero-404 {
  height: 100vh;
  background-color: #000000;
  padding: 0 140px;
  display: flex;
  align-items: center;
}

.hero-404 h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 40px;
}
